* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  background-color: white;
}

.image-container {
  display: flex;
  align-items: center;
}

header {
  text-align: center;
  background-color: rgba(82, 150, 238, 0.411);
  height: auto;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
}

header > h1 {
  text-align: center;
  color: #002668;
  padding-top: 100px;
  font-size: 40px;
}

header > p {
  text-align: center;
  color: black;
  margin: 10px 0;
  font-size: 20px;
}

@media (max-width: 768px) {
  header > h1 {
    font-size: 34px;
  }

  header > p {
    font-size: 18px;
  }
}

.navbar {
  display: flex;
  background-color: #002668;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link{
  font-size: 1.6rem;
  font-weight: 400;
  color: white;
}

.nav-link:hover{
  opacity: 1;
  color: #fdad00;
}

@media only screen and (min-width: 769px) {
  .nav-item:first-child {
      margin-left: 0;
  }
  
  .nav-item:last-child {
      margin-right: 0;
  }
  
  .nav-item::after {
      content: "";
      display: block;
      width: 0;
      height: 5px;
      background-color: #fdad00;
      transition: width 0.3s ease;;
  }
  
  .nav-item:hover::after {
      width: 100%;
  }
}

.nav-logo {
  font-size: 2.1rem;
  font-weight: bold;
  color: #fdad00;
}

@media only screen and (max-width: 768px) {
  .nav-menu {
      position: fixed;
      left: -100%;
      top: 5rem;
      flex-direction: column;
      background-color: #002668;
      width: 100%;
      border-radius: 0px;
      text-align: center;
      transition: 0.3s;
      box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
      left: 0;
  }

  .nav-item {
      margin: 2.5rem 0;
  }

  .hamburger {
      display: block;
      cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
      opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
      -webkit-transform: translateY(8px) rotate(45deg);
      transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
      -webkit-transform: translateY(-8px) rotate(-45deg);
      transform: translateY(-8px) rotate(-45deg);
  }
}

.first-color {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

.second-color {
  font-family: Arial, Helvetica, sans-serif;
  color: #fda400;
}

section {
  margin: 0 13px;
}

h2 {
  padding-top: 50px;
  font-size: 27px;
  font-weight: bold;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
}

@media (min-width: 768px) {
  .grid-container {
    display: flex;
  }
}

.doge-image-top {
  justify-content: center;
  align-items: center;
}

.doge-image-top img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}

.doge-image-top img:hover {
  transform: scale(1.03);
}

.doge-history-description {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

#dogeHistory .flex-container iframe {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

#dogeHistory .flex-container iframe {
  height: 100%;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
#dogeHistory > .flex-container iframe {
    margin-left: 50px;
    height: 315px;
    width: 560px;
}
  
.doge-history-description {
    text-align: left;
    padding-left: 60px;
    padding-right: 50px;
  }
}

fieldset {
  margin: 16px 0px;
  border-radius: 3px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 4px 5px;
  margin: 10px 0;
  display: block;
}

legend {
  font-weight: bold;
  padding-bottom: 10px;
}

#registrationForm {
  background-color: #f1c565;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  padding: 8px;
  margin-top: 16px;
}

#registrationForm form {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
}

button[type="submit"] {
  color: white;
  background-color: #002668;
  border: 1px solid black;
  border-radius: 4px;
  width: 100%;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

footer {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}